* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

path,
i,
svg {
  pointer-events: none;
}

.main {
  height: 90vh;
}

.main .title {
  height: 10vh;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

.main .colors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
}

.main .colors .color {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.main .colors .color .value {
  font-size: 2.6rem;
  color: black;
  cursor: pointer;
}

.main .colors .color .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .colors .color .control .icon {
  font-size: 2.6rem;
  cursor: pointer;
  padding: .6rem;
  background-color: transparent;
  border: 0;
  margin-top: 2rem;
}

.main .colors .color.light-color .value {
  color: white;
}

.main .colors .color.light-color .control .icon {
  color: white;
}

.main .colors .color .slider {
  width: 90%;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
  border-radius: 2rem 2rem 0 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: white;
  overflow: hidden;
}

.main .colors .color .slider.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px -4px 15px -2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px -4px 15px -2px rgba(0, 0, 0, 0.6);
}

.main .colors .color .slider .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  background-color: #f52542;
  border: none;
  border-radius: 0 0 0 2rem;
}

.main .colors .color .slider .close:hover {
  background-color: #f7566c;
}

.main .colors .color .slider label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.main .colors .color .slider label span {
  font-size: 1.6rem;
}

.main .colors .color .slider label input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 1rem;
}

.main .panel-box {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .panel-box .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .panel-box .panel .icon {
  width: 6.4rem;
  height: 6.4rem;
  font-size: 2.6rem;
  cursor: pointer;
  padding: .6rem;
  margin-top: 2rem;
  color: white;
  background-color: #365d66;
  border: none;
  border-radius: 1.5rem;
}

.main .panel-box .panel .name {
  font-size: 2.6rem;
  margin-top: 1rem;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.popup-wrapper.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.popup-wrapper .popup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50rem;
  min-height: 30rem;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
}

.popup-wrapper .popup .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.6rem;
  background-color: #f52542;
  padding: .3rem .6rem;
  border-radius: 0 0 0 2rem;
  cursor: pointer;
}

.popup-wrapper .popup .popup-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1688f0;
}

.popup-wrapper .popup .popup-copy p {
  font-size: 2.6rem;
  color: white;
  font-weight: bold;
}

.popup-wrapper .popup .popup-copy span {
  font-size: 3rem;
  color: white;
}

.popup-wrapper .popup .popup-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 3rem;
}

.popup-wrapper .popup .popup-save h2 {
  font-size: 2.6rem;
}

.popup-wrapper .popup .popup-save input {
  padding: .72rem 1.2rem;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.popup-wrapper .popup .popup-save button {
  max-width: 10rem;
  background-color: #365d66;
  font-size: 2.6rem;
  color: white;
  margin: 2rem auto;
  padding: 1rem 2.2rem;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.popup-wrapper .popup .popup-library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem 3rem;
}

.popup-wrapper .popup .popup-library h2 {
  font-size: 2.6rem;
  text-align: center;
}

.popup-wrapper .popup .popup-library .palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper .popup .popup-library .palette span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2rem;
}

.popup-wrapper .popup .popup-library .palette .pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper .popup .popup-library .palette .pick span {
  display: inline-block;
  width: 4.2rem;
  height: 4.2rem;
  background-color: #DF362D;
  pointer-events: none;
}

.popup-wrapper .popup .popup-library .palette .pick button {
  background-color: #365d66;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: none;
  padding: .6rem 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */