$font-size-h1: 3rem;
$font-size-text:1.6rem;
$font-size-big: 2.6rem;

$color-primary: #1688f0;
$color-danger: #f52542;
$color-info: #feda12;
$color-success: #1ef817;
$color-secondary: #365d66;

$bg-light: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

path,
i,
svg {
    pointer-events: none;
}

.main {
    height: 90vh;

    .title {
        height: 10vh;
        font-size: $font-size-h1;
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }

    .colors {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, auto));

        .color {
            position: relative;
            display: flex;
            min-height: 75vh;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            transition: all .1s ease-in;

            .value {
                font-size: $font-size-big;
                color: black;
                cursor: pointer;
            }

            .control {
                display: flex;
                flex-direction: column;

                .icon {
                    font-size: $font-size-big;
                    cursor: pointer;
                    padding: .6rem;
                    background-color: transparent;
                    border: 0;
                    margin-top: 2rem;
                }
            }

            &.light-color {
                .value {
                    color: white;
                }

                .control {
                    .icon {
                        color: white;
                    }
                }
            }

            .slider {
                width: 90%;
                position: absolute;
                margin: 0 auto;
                bottom: 0;
                right: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem 3rem 2rem;
                border-radius: 2rem 2rem 0 0;
                transform: translateY(100%);
                transition: all .2s ease-in;
                background-color: $bg-light;
                overflow: hidden;

                &.show {
                    transform: translateY(0);
                    box-shadow: 0px -4px 15px -2px rgba(0, 0, 0, 0.6);
                }

                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: $color-danger;
                    border: none;
                    border-radius: 0 0 0 2rem;

                    &:hover {
                        background-color: lighten($color: $color-danger, $amount: 10%);
                    }
                }

                label {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;

                    span {
                        font-size: $font-size-text;
                    }

                    input {
                        width: 100%;
                        appearance: none;
                        cursor: pointer;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }

    .panel-box {
        height: 15vh;
        display: flex;
        justify-content: space-around;

        .panel {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                width: 6.4rem;
                height: 6.4rem;
                font-size: $font-size-big;
                cursor: pointer;
                padding: .6rem;
                margin-top: 2rem;
                color: white;
                background-color: $color-secondary;
                border: none;
                border-radius: 1.5rem;
            }

            .name {
                font-size: $font-size-big;
                margin-top: 1rem;
            }
        }
    }
}

.popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    transform: translateY(100%);

    &.show {
        transform: translateY(0);
    }

    .popup {
        position: relative;
        display: flex;
        min-width: 50rem;
        min-height: 30rem;
        background-color: white;
        border-radius: 2rem;
        overflow: hidden;

        .close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: $font-size-big;
            background-color: $color-danger;
            padding: .3rem .6rem;
            border-radius: 0 0 0 2rem;
            cursor: pointer;
        }

        .popup-copy {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            background-color: $color-primary;

            p {
                font-size: $font-size-big;
                color: white;
                font-weight: bold;
            }

            span {
                font-size: $font-size-h1;
                color: white;
            }
        }

        .popup-save {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-grow: 1;
            padding: 1rem 3rem;

            h2 {
                font-size: $font-size-big;
            }

            input {
                padding: .72rem 1.2rem;
                font-size: $font-size-text;
                margin-top: 2rem;
            }

            button {
                max-width: 10rem;
                background-color: $color-secondary;
                font-size: $font-size-big;
                color: white;
                margin: 2rem auto;
                padding: 1rem 2.2rem;
                border: none;
                cursor: pointer;
                border-radius: 1rem;
            }
        }

        .popup-library {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 2rem 3rem;

            h2 {
                font-size: $font-size-big;
                text-align: center;
            }

            .palette {
                display: flex;
                margin-top: 1rem;
                align-items: center;

                span {
                    flex-grow: 1;
                    font-size: 2rem;
                }

                .pick {
                    display: flex;
                    align-items: center;

                    span {
                        display: inline-block;
                        width: 4.2rem;
                        height: 4.2rem;
                        background-color: #DF362D;
                        pointer-events: none;
                    }

                    button {
                        background-color: $color-secondary;
                        align-self: stretch;
                        border: none;
                        padding: .6rem 1rem;
                        cursor: pointer;
                        font-size: $font-size-text;
                        color: white;
                    }
                }
            }
        }
    }
}