* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: "Poppins", sans-serif;
}

.header-site {
    font-size: 2rem;
}

.todo-form {
    display: flex;
}

.header-site,
.content {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-button,
.todo-input {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.todo-button {
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-button:hover {
    background: #fda085;
    color: white;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30rem;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    margin-top: .2rem;
    transition: all 0.5s ease;
}

.todo.complete {
    text-decoration: line-through;
    opacity: .5;
}

.todo-list {
    list-style: none;
}

.todo-item {
    flex-grow: 1;
    padding: .5rem 1rem;
}

.todo-btn {
    cursor: pointer;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1rem;
}

.todo-btn.complete {
    background-color: green;
}

.todo-btn.delete {
    background-color: #fda085;
}

.todo-btn.delete:hover {
    background-color: #fda085;
}

.fas {
    pointer-events: none;
}

.todo-filters {
    width: 7rem;
    appearance: none;
    outline: none;
    border: none;
    margin-inline-start: 1rem;
    color: #fda085;
    cursor: pointer;
}

.todo-filters::after {
    content: "\25CB";
    position: absolute;
    top: 0;
    right: 0;
    background: #f6d365;
    padding: 1rem;
}