html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin-top: 2rem;
  margin-inline: auto;
}

.main .title {
  font-size: 4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .track .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .track .control .title {
  font-size: 3.6rem;
  min-width: 15rem;
}

.main .track .control .select {
  min-width: 20rem;
  font-size: 1.6rem;
  background-color: #fafafa;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
  border: solid #0C3638 1px;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.main .track .control .btn-mute {
  width: 48px;
  height: 48px;
  background-color: #555555;
  border: 0;
  cursor: pointer;
  color: #b3b3b3;
  font-size: 3rem;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
}

.main .track .control .btn-mute:hover {
  background-color: #222222;
}

.main .track .control .btn-mute.muted {
  color: white;
}

.main .track .pad-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (64px)[8];
      grid-template-columns: repeat(8, 64px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.main .track .pad-box .pad {
  width: 64px;
  height: 64px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  cursor: pointer;
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
}

.main .track .pad-box.kick > .pad {
  background-color: aqua;
}

.main .track .pad-box.kick > .pad.selected {
  background-color: #006666;
}

.main .track .pad-box.kick > .pad.playing {
  background-color: #00b3b3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .track .pad-box.snare > .pad {
  background-color: aquamarine;
}

.main .track .pad-box.snare > .pad.selected {
  background-color: #00e598;
}

.main .track .pad-box.snare > .pad.playing {
  background-color: #33ffba;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .track .pad-box.hihat > .pad {
  background-color: cornflowerblue;
}

.main .track .pad-box.hihat > .pad.selected {
  background-color: #1347a5;
}

.main .track .pad-box.hihat > .pad.playing {
  background-color: #1f66e5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.main .controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .controller .ctr-btn {
  font-size: 3rem;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #0C3638;
}

.main .controller .tempo {
  margin-top: 2rem;
  padding: 2rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */