$color-btn:#555555;
$color-font-btn: white;
$color-pad-kick: aqua;
$color-pad-snare: aquamarine;
$color-pad-hihat: cornflowerblue;


$font-size-h1: 4rem;
$font-size-h2: 3.6rem;
$font-size-text: 1.6rem;
$font-size-big: 3rem;

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
    margin-top: 2rem;
    margin-inline: auto;

    .title {
        font-size: $font-size-h1;
        flex-grow: 1;
    }



    .track {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        flex-wrap: wrap;
        flex-grow: 1;

        .control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-inline-end: 1rem;
            flex-grow: 1;

            .title {
                font-size: $font-size-h2;
                min-width: 15rem;
            }

            .select {
                min-width: 20rem;
                font-size: $font-size-text;
                background-color: #fafafa;
                margin-inline-start: 2rem;
                border: solid #0C3638 1px;
                cursor: pointer;
                padding: 1rem 1.5rem;
            }

            .btn-mute {
                width: 48px;
                height: 48px;
                background-color: $color-btn;
                border: 0;
                cursor: pointer;
                color: darken($color:$color-font-btn, $amount: 30%);
                font-size: $font-size-big;
                margin-inline-start: 2rem;

                &:hover {
                    background-color: darken($color: $color-btn, $amount: 20%);
                }

                &.muted {
                    color: $color-font-btn;
                }
            }


        }

        .pad-box {
            display: grid;
            grid-template-columns: repeat(8, 64px);
            justify-content: center;
            align-content: center;
            gap: 1rem;
            flex-grow: 3;

            .pad {
                width: 64px;
                height: 64px;
                align-self: stretch;
                cursor: pointer;
                transition: transform .15s;
            }

            &.kick>.pad {
                background-color: $color-pad-kick;

                &.selected {
                    background-color: darken($color: $color-pad-kick, $amount: 30%);
                }

                &.playing {
                    background-color: darken($color: $color-pad-kick, $amount: 15%);
                    transform: scale(1.2);
                }
            }

            &.snare>.pad {
                background-color: $color-pad-snare;

                &.selected {
                    background-color: darken($color: $color-pad-snare, $amount: 30%);
                }

                &.playing {
                    background-color: darken($color: $color-pad-snare, $amount: 15%);
                    transform: scale(1.2);
                }
            }

            &.hihat>.pad {
                background-color: $color-pad-hihat;

                &.selected {
                    background-color: darken($color: $color-pad-hihat, $amount: 30%);
                }

                &.playing {
                    background-color: darken($color: $color-pad-hihat, $amount: 15%);
                    transform: scale(1.2);
                }
            }

            @keyframes scale {
                from {
                    transform: scale(1.0);
                }

                to {
                    transform: scale(1.2);
                }
            }
        }
    }

    .controller {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;

        .ctr-btn {
            font-size: $font-size-big;
            padding: 1rem 2rem;
            border: none;
            cursor: pointer;
            color: white;
            background-color: #0C3638;
        }

        .tempo {
            margin-top: 2rem;
            padding: 2rem;
            cursor: pointer;
        }
    }
}